footer {
    background-color: #515d6a;
    padding: 48px 0;
    color: #fff;
}
footer h5 {
    margin: 0 0 32px 48px;
}
footer ul {
    list-style: none;
    margin-left: 16px;
}
footer li a {
    color: #fff;
    text-decoration: none;
}
footer li a:hover {
    color: #999999;
    text-decoration: underline;
}

